# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.pull-request.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\AlinLaptop\Desktop\pull-request\.idea\.idea.pull-request.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
